.button{
    width:50;
    height:50;
    font-size: 25;
    margin:2;
    cursor: pointer;
    color:white;
    background:linear-gradient(red,black);
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
    border-color:black;
}
.button:hover{
    background:green;
    color:yellow;
}
.button:active{
    background:pink;
    color:black;
}
.textview{
    width:227;
    height:45;
    padding:5;
    font-size: 25;
    background:linear-gradient(red,black);
    color:white;
    border-radius:40px;
    box-shadow: 10px 10px 10px black;
    border-color:black;
}
body{
   background:linear-gradient(grey,skyblue,pink)
}
form{
    position: relative;
    top:100px;
}
table{
    position:relative;
    top:100px
}

@media(max-width:1024px){
    #form{
        position: absolute;
        top: 10%;
        left: 10%;
    }
    #table{
        position: absolute;
        top: 30%;
        left: 10%;
        height:400px;
        width: 800px;
    }
    .button{
        width:200px;
        height:200px;
        font-size: 150px;
        padding: 10px;
    }
    .textview{
        width:800px;
        height: 200px;
        font-size: 150px;
    }
}
