body{
    background:#212121;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    color:white;
    position: sticky;
    top: 0px;
    /* text-align: center; */
}
#frame{
    color:white;
    /* margin: 20px; */
    position: sticky;
    top: 35px;

}
#heightContainer{
    color:white;
    /* margin:20px; */
    padding: 0px;
    text-transform: capitalize;
    font-size:15px;
    z-index: 10;
    position: sticky;
    top:60px;
}
.input{
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 10px;
    border-radius:10px;
}
.container{
    overflow: scroll;
    z-index: 1;
    height:100vh;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
#squarebtn1{
 border: 2px solid white;
 color:white;
 background-color: #212121;
 border-radius: 10px;
 height: 30px;
}
#squarebtn1:hover{
    border: 2px solid #212121;
    color:#212121;
    background-color: aliceblue;
}

#imagebtn1{
 border: 2px solid white;
 color:white;
 background-color: #212121;
 border-radius: 10px;
 height: 30px;
}
#imagebtn1:hover{
    border: 2px solid #212121;
    color:#212121;
    background-color: aliceblue;
}
#textbtn1{
 border: 2px solid white;
 color:white;
 background-color: #212121;
 border-radius: 10px;
 height: 30px;
}
#textbtn1:hover{
    border: 2px solid #212121;
    color:#212121;
    background-color: aliceblue;
}