body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      90deg,
       #ffd89b,
       #354243,
       #211f1f,
       #141e30
    );
    height:400px;
}
/*global*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
.food{
    background:#e8491d;
}
ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height:25px;
    background: #e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;}
/*header*/
header{
    /* z-index: 10; */
    position: sticky;
    top: 0px;
    /* background:transparent; */
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: #14A098 3px solid; */
    
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding:0;
    letter-spacing: 3px;
}
header ul{
    margin:0;
    padding:0;
}
header li{
    /* float:left; */
    display: inline;
    padding:0 20px 0 20px;
}
header li a:hover{
    color:#14A098;
}
header #branding{
    float:left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float:right;
    margin-top: 10px;
}

header .highlight{
    color: #14A098;
    font-weight: bold;
}


/*showcase*/
/* #showcase{
  
    background: url('hood-azalaka.jpg');
   background-size: cover;
    
    text-align: center;
    color:white;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom:10px;
}
#showcase p{
    font-size: 20px;
} */
/*newsletter*/
#newsletter{
    padding:15px;
    color:#ffffff;
    background:#354243;
}
#newsletter h1{
    float:left;
}
#newsletter button{
  float:right;
  padding: 10px;
  margin-top: 15px;
}

#move{
    float:right;
    width:60%;
    background:grey;
    padding:25px;
    padding-top:10px;
    border:solid
}

footer{
    padding:20px;
    color:#ffffff;
    background:#354243;
    text-align: center;
    /* position:sticky; */
    /* top:0.25rem; */
     border-bottom: #14A098 2px solid;
     border-top: #14A098 2px solid;
    
    
}
#aman{
    width:50%;
    background:#e8491d;
}
#float{
    float:left;
    width:40%;
}
#more{
    float:right;
    width:40%;
    background:#737f80;
    padding:25px;
    padding-top:10px;
    border:solid;
    position:relative;
    top:-400px;
}
.form{
    color:#ffffff;
}
.button{
    background:#e8491d;
    border:0;
    padding:5px;
    margin:2px;
    width:80px;
}
#sidebar{
  width:40%;
  float:right;
  position:relative;
  top:-300px;
  

}
#roll{
    width:55%;
    content: justify;
}
.room{
  display: block;
  width: 20%;
	/* background: #354243; */
	line-height:32px;
	text-indent:18px;
	margin:20px;
	transform:scale(0.95);
	transition:.5s;
  border:4px solid white;
  border-radius: 8px;
	
}
.room:hover{
    
    width:21%;
   
}
#boxes{
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  top: 25%;
  overflow:scroll;
  width:100%;
  height:570px;
  /* width: 100%; */
}
::-webkit-scrollbar {
    display: none;
}

.panty{
	
	height:200%;
	margin-top:15px;
	
}
.pic{
    margin:5px;
    width:49%;
    
}

 
 
 .sidenav {
   z-index: 20;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-bottom: 1px solid rgb(100,100,100,0.9);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #CB2D6F;
}

.sidenav .closebtn {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.profile{
  height:410px;
  width:100%;
  background:#aaa;
  background:url('messi\ .jpg');
  background: cover;
  background-position:center ;
  background-size:34%; 
}

#social-media{
  height:100px;
  width:9%;
  background:#3b5998;
  border-bottom: white 3px solid;
}
#social-media1{
  height:100px;
  width:9%;
  background: #211f1f;
  border-bottom: white 3px solid;
}
#social-media2{ 
  height:100px;
  width:9%;
  background:#1DA1F2;
  border-bottom: 3px solid white;
}
#social-media3{
  height:100px;
  width:9%;
  background: #f80759;
  border-bottom: white 3px solid;
}

#social-media:hover{
  width:12%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media1:hover{
  width:12%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media2:hover{
  width:12%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media3:hover{
  width:12%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#locate{
  position: relative;
  width: 60%;
  left:20%;
  top:-380px;
}

@media(max-width:768px){
  header #branding,
  header nav,
  #newsletter h1,
  #newsletter form{
    float: none;
    text-align: center;
    width: 100%;
  }
  
  header nav li{
    display: none;
  }
 
  #newsletter button{
    display: block;
    width:100%;
  }
  #newsletter form input[type="email"]{
    width:100%;
    margin-bottom:5px;
  }
  #showcase{
    min-height: 550px;
    background: url('hood-azalaka.jpg');
   background-size: 100%;
    text-align: center;
    color:white;
}
#showcase h1{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom:10px;
}
#showcase p{
    font-size: 20px;
    margin-top: 300px;
}
.profile{
  height:410px;
  width:100%;
  background:#aaa;
  background:url('messi\ .jpg');
   background: cover;
  background-position:center ;
  background-size:110%;}

.room{
  display: block;
  width: 35%;
	/* background: #354243; */
	line-height:32px;
	text-indent:18px;
	margin:20px;
	transform:scale(0.95);
	transition:.5s;
  border:4px solid white;
  border-radius: 8px;
	
}
.room:hover{
    
    width:38%;
   
}
#box-heading{
  font-size: 15px;
}
#ball{
  display: none;
}
#ball-1{
  display: none;
}
#ball-2{
  display:none;
}
#ball-3{
  display: none;
}
#social-media{
  height:100px;
  width:27%;
  background:#3b5998;
  border-bottom: white 3px solid;
}
#social-media1{
  height:100px;
  width:27%;
  background: #211f1f;
  border-bottom: white 3px solid;
}
#social-media2{ 
  height:100px;
  width:27%;
  background:#1DA1F2;
  border-bottom: white 3px solid;
}
#social-media3{
  height:100px;
  width:27%;
  background: #f80759;
  border-bottom: white 3px solid;
}
#social-media:hover{
  width:35%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media1:hover{
  width:35%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media2:hover{
  width:35%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}
#social-media3:hover{
  width:35%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  transition: 0.2s;
}


}
#name{
  background: #14A098;
  width: 100%;
  
  text-decoration: none;
  margin-bottom: 25px;
 
}
#name:hover{
  background: #CB2D6F;
}
#writting{
  font-size: 30px;
  color: aliceblue;

}

.feedback{
  
  background:#14A098;
  border: none;
  color: whitesmoke;
  text-decoration: none;
}
.feedback:hover{
  background:#CB2D6F;
}
@media(max-width:768px){
  .feedback{
  background:#e8491d;
  border: none;
 
  color: whitesmoke;
}



}
#navbtn{
  display: inline;
}

.container2{
  height: 100vh;
  width: 100%;
  background: url('youtube-banner-maker-for-a-game-streaming-channel-2450d\ \(2\).png')no-repeat center center fixed; 
  background-size: cover;
}
.containerimage{
  height: 100%;
  width: 100%;
   /* background: url('deepweb logo.png') no-repeat center center fixed;  */
  
}
#logoimage{
  width: 100%;
  height: 85vh;
}

